.container{
margin: auto;
padding: auto;
background-color: chocolate;;
width: 60vh;
height: 60vv;
}
.header{
    background-color: cadetblue;
}
.close{
    float: right;
}
.submit{
    float: right;
}
.input{
width: 50   vh;
}