
.memory img{
width: 100px;
}
.memory .remove{
    visibility: hidden;
}
.window
{
	position: fixed; width: 500px; border: solid 1px silver;
}

.window > .header {
	overflow: hidden; background: rgb(220,220,220); cursor: move;
}

.window > .header > .close { float: right; }