
.memory img{
width: 100px;
}
.memory .remove{
    visibility: hidden;
}
.hide{
    visibility: hidden;
}
.window
{
	position: fixed; width: 500px; border: solid 1px silver;
}

.window > .header {
	overflow: hidden; background: rgb(220,220,220); cursor: move;
}

.window > .header > .close { float: right; }


*{
	box-sizing: border-box;
}

  
.container{
	width: 400px;
	margin: 0 auto;
	border: solid 1px #ccc;
	border-radius: 5px;
	overflow: hidden;
}

  
.chat-container{
	height: 400px;
	overflow: auto;
   direction: ltr;
	
}
  
  .message{
    border-bottom: solid 1px #ccc;
    padding: 20px;
    direction: ltr;
    
  }

   
    .dateTime{
		float: right;
		color: #999;
	}
     

.send-message-form
  input{
    width: 100%;
    border: none;
    font-size: 16px;
    padding: 10px;
  }

  button{}
    