.home{
    /* min-height: 100vh;
    min-width: 100 vw;
    display: block; */
      max-height: 95%;
      max-width: 100%;
      min-height: 95%;
      min-width: 100%;
  
}

.button{
  width: 10%;
}